@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  
  /* shared styles */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .display-flex{
    display: flex;
    
  }
  .orange{
    color: #FEA301;
  }
  .sky-blue{
    color: #01ACFD;
  }
  .black{
    color: #111111;
  }
  .icon{
    visibility: hidden;
  }
  .hide{
    visibility: hidden;
  }
  .c-1{
    color: #64C8FF;
  }
  .c-2{
    color: #F0AA00;
  }
  .c-3{
    color: #8700FF;
  }

  /* header styles */
  header{
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 20px;
  }

  /* navbar related styles */
  .navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin-bottom: 20px;
  }
  .logo-container{
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .logo-school{
    font-size: 2rem;
    font-weight: bold;
  }
  .nav-item{
    list-style: none;
  }
  .nav-links{
    margin-left: 100px;
    margin-right: 100px;
  }
  .nav-link{
    text-decoration: none;
    margin-left: 32px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .facilities{
    color: #05D4DF;
  }
  .admission{
    color: #5D58EF;
    
  }
  .nav-btn> button{
    padding: 10px;
    color: white;
    background-color: #FEA301;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    width: 197px;
  }
  .ham-icon{
    width: 50px;
  }
  
  

  /* main styles */
  main{
    margin-left: 140px;
    margin-right: 140px;
    
  }
  /* banner related styles */
 .banner{
    max-width: 1158px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
 }
 .banner-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 24px;
 }
 .banner-desc{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 24px;

 }
 .banner-btn{
    background-color: #111111;
    color: white;
    padding: 10px;
    border-radius: 12px;
    border: none;
    width: 197px;
 }
 
/* curriculum section styles */

.curriculum{
  max-width: 1440px;
  background-image: url('../assets/bg.png');
}
.curr-title{
  font-size: 2.9rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
  color: black;
}
.card-container{
  gap: 25px;
  margin-bottom: 80px;
  
}
.card-item{
max-width: 365px;
max-height: 475px;
border-radius: 18px;
width: 33%;
box-sizing: border-box;
box-shadow: 0px 0px 28.3 0.94px rgba(0, 0, 0, 0.05);
text-align: center;
}
.arrow{
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  color: white;
  margin-bottom: 60px;
  
}
.arrow-left{
  border-radius: 50%;
  background-color: orange;
}
.arrow-right{
  border-radius: 50%;
  background-color: orange;
}

.card-1{
  border: 0.94px solid rgba(222, 245, 255, 1);
  background: linear-gradient(180deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  
}
.card-2{
  border: 0.94px solid rgba(255, 244, 220, 1);
  background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  
}
.card-3{
  border: 0.94px solid rgba(242, 232, 255, 1);
  background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-img{
  padding: 52px 115px 32px;
}
.card-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 33px;
}
.card-desc{
  font-size: 0.94rem;
  font-size: 500;
  margin-bottom: 33px;
}
.read-more{
  font-size: 0.94rem;
  font-weight: bold;
  margin-bottom: 50px;
}
/* responsive media query  */
@media screen and (max-width : 576px) {
    header{
        margin: 16px;
    }
    main{
      margin: 0 auto;
      width: 100%;
    }
    /* navbar responsive */
    .navbar > .link-container , .nav-btn{
        display: none;
    }
    .navbar> .logo-container>h6{
        display: none;
    }
    .navbar{
        width: 100%;
    }
    
    /* banner responsive */
    .banner{
        flex-direction: column-reverse;
        width: 100%;
    }
    .banner-container{
        text-align: center;
    }
    .banner-img>img{
      padding: 20px 10px;
      width: 100%;
    }
    
    .banner-btn{
        width: 40%;
    }
    .icon{
        visibility: visible;
        align-items: end;
        border: none;
        font-size: 32px;

      }
    .hide{
      visibility: visible;
    }
    /* curriculum responsive */
    .card-item{
      width: 100%;
      margin: 0 auto;
    }
    .card-container{
      flex-direction: column;
    }
    .arrow{
      display: none;
    }
}