@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  
  /* shared styles */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .display-flex{
    display: flex;
    
  }
  .orange{
    color: #FEA301;
  }
  .sky-blue{
    color: #01ACFD;
  }
  .black{
    color: #111111;
  }
  .icon{
    visibility: hidden;
  }
  .hide{
    visibility: hidden;
  }
  .c-1{
    color: #64C8FF;
  }
  .c-2{
    color: #F0AA00;
  }
  .c-3{
    color: #8700FF;
  }
  .marq{
    border: 2px solid black;
    background-color: #111111;
    color: white;
    overflow: hidden;
    width: 100%;
  }

  /* header styles */
  header{
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 20px;
  }

  /* navbar related styles */
  .navbar{
    justify-content: space-between;
    align-items: center;
    /* max-width: 1160px; */
    width: 100%;
    margin-bottom: 20px;
  }
  .logo-container{
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .logo-school{
    font-size: 2rem;
    font-weight: bold;
  }
  .nav-item{
    list-style: none;
  }
  .nav-links{
    margin-left: 100px;
    margin-right: 100px;
  }
  .nav-link{
    text-decoration: none;
    margin-left: 32px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .facilities{
    color: #05D4DF;
  }
  .admission{
    color: #5D58EF;
    
  }
  .nav-btn> button{
    padding: 10px;
    color: white;
    background-color: #FEA301;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    width: 197px;
  }
  .ham-icon{
    width: 50px;
  }
  
  

  /* main styles */
  main{
    margin-left: 140px;
    margin-right: 140px;
    
  }
  /* banner related styles */
 .banner{
    /* max-width: 1158px; */
    width: 100%;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    
    
 }
 .banner-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 24px;
 }
 .banner-desc{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 24px;

 }
 .banner-btn{
    background-color: #111111;
    color: white;
    padding: 10px;
    border-radius: 12px;
    border: none;
    width: 197px;
 }
 
/* curriculum section styles */

.curriculum{
  /* max-width: 1440px; */
  margin: 0 auto;
  width: 100%;
  background-image: url('../assets/bg.png');
}
.curr-title{
  font-size: 2.9rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
  color: black;
}
.card-container{
  gap: 25px;
  margin-bottom: 80px;
  
}
.card-item{
/* max-width: 365px; */
width: 100%;
max-height: 475px;
border-radius: 18px;
width: 33.33%;
box-sizing: border-box;
box-shadow: 0px 0px 28.3 0.94px rgba(0, 0, 0, 0.05);
text-align: center;
}
.arrow{
  font-size: 35px;
  font-weight: 100;
  text-align: center;
  color: white;
  margin-bottom: 60px;
  
}
.arrow-left{
  border-radius: 50%;
  background-color: orange;
  padding: 8px;
}
.arrow-right{
  border-radius: 50%;
  background-color: orange;
  padding: 8px;
}
.arrow :hover{
  background-color: black;
}

.card-1{
  border: 0.94px solid rgba(222, 245, 255, 1);
  background: linear-gradient(180deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  
}
.card-2{
  border: 0.94px solid rgba(255, 244, 220, 1);
  background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  
}
.card-3{
  border: 0.94px solid rgba(242, 232, 255, 1);
  background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-img{
  padding: 52px 115px 32px;
}
.card-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 33px;
}
.card-desc{
  font-size: 0.94rem;
  font-size: 500;
  margin-bottom: 33px;
}
.read-more{
  font-size: 0.94rem;
  font-weight: bold;
  margin-bottom: 50px;
}
/* stories related styles */
.stories{
  background: url('../assets/bg.png'),
  linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
  margin: 0 auto;
  padding-bottom: 60px;
}
.img-container{
  display: flex;
  gap: 19px;
  max-width: 1160px;
  max-height: 630px;
  margin-left: 140px;
  margin-right: 140px;
  padding-bottom: 80px;
}
.img-box{
  width: 50%;
}
.grid{
  display: grid;
  gap: 19px;
  grid-template-columns: repeat(2,1fr);
  
}
.stories-title{
  text-align: center;
  font-size: 2.9rem;
  font-weight: bold;
  margin-bottom: 80px;
}
.card-box{
  border-radius: 16px;
  background-color: white;
}
.card-box > img{
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.view-btn>button{
padding: 10px;
color: white;
background-color: black;
border-radius: 12px;
width: 150px;
display: block;
margin: 0 auto;
}
.img-title-excep{
  margin-left: 38px;
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}
.img-title{
  font-size: 0.94rem;
  font-weight: bold;
  margin: 25px ;
}
.img-desc{
  margin-left: 38px;
  margin-bottom: 38px;
}
.button-1{
  position: relative;
}
.button-2{
  position: relative;
}
.button-3{
  position: relative;
}
.button-4{
  position: relative;
}
.button-5{
  position: relative;
}
.date-1{
  position: absolute;
  left: 2.375rem;
  top: 18.875rem; 
  /* 16.875 */
  padding: 15px 18px;
  border-radius: 47px;
  background-color: #3CD8E8;
  color: white;
  border: none;
}
.date-2{
  position: absolute;
  padding: 15px 18px;
  border-radius: 47px;
  left: 1.5625rem;
  top: 9.1875rem;
  /* 7.1875 */
  background-color: #95B226;
  color: white;
  border: none;
}
  

.date-3{
  position: absolute;
  padding: 15px 18px;
  border-radius: 47px;
  left: 1.5625rem;
  top: 9rem;
  /* 7 */
  background-color: #5D58F0;
  color: white;
  border: none;
}
.date-4{
  position: absolute;
  padding: 15px 18px;
  border-radius: 47px;
  left: 1.5625rem;
  top: 9.1875rem;
  /* 7.1875 */
  background-color: #5D58F0;
  color: white;
  border: none;
  
}
.date-5{
  position: absolute;
  padding: 15px 18px;
  border-radius: 47px;
  left: 1.5625rem;
  top: 9.1875rem;
  /* 7.1875 */
  background-color: #95B226;
  color: white;
  border: none;
}
/* footer related styles */
footer{
  background-color: #01ACFD;
  margin-left: 140px;
  margin-right: 140px;
  max-height: 519px;
  max-width: 1440px;
  

}
.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 150px;
  width: 100%;
  color: white;
  padding: 123px 140px;


}
.foot-cmn{
  width: 33.33%;
}
.foot-logo{
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.kids-title{
  font-size: 2.3rem;
  font-weight: bold;
  /* margin-bottom: 35px; */
}
.kids-desc{
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
}
.about-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 32px;

}
.about-links{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-items{
  list-style: none;
}

.about-item{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  padding-bottom: 20px;
}
.social-title{
  font-size: 1.65rem;
  font-weight: bold;
  padding-bottom: 32px;
}

/* responsive media query  */
@media screen and (max-width : 576px) {
    header{
        margin: 16px;
    }
    .marq{
      width: 100%;
    }
    main{
      margin: 0 auto;
      width: 100%;
    }
    /* navbar responsive */
    .navbar > .link-container , .nav-btn{
        display: none;
    }
    .navbar> .logo-container>h6{
        display: none;
    }
    .navbar{
        width: 100%;
    }
    
    /* banner responsive */
    .banner{
        flex-direction: column-reverse;
        width: 100%;
    }
    .banner-title{
      padding: 12px;
    }
    .banner-container{
        text-align: center;
    }
    .banner-img>img{
      padding: 20px 10px;
      width: 100%;
    }
    
    .banner-btn{
        width: 40%;
    }
    .icon{
        visibility: visible;
        align-items: end;
        border: none;
        font-size: 32px;

      }
    .hide{
      visibility: visible;
    }
    /* curriculum responsive */
    .card-item{
      width: 90%;
      margin: 0 auto;
    }
    .card-container{
      flex-direction: column;
    }
    .arrow{
      display: none;
    }
    /* stories responsive */
    .stories{
      padding: 10px;
      padding-bottom: 40px;
    }
    .button-1{
      display: none;
    }
    .img-container{
      width: 100%;
      margin:0 auto;
      padding-bottom: 40px;
    }
    .grid{
      grid-template-columns: repeat(2,1fr);
      width: 100%;
      
    }
    .card-box{
      width: 100%;
    }
    .date-2{
      position: absolute;
      padding: 15px 18px;
      border-radius: 47px;
      left: 1.25rem;
      top: 5.9375rem;
      background-color: #95B226;
      color: white;
      border: none;
    }
    .date-3{
      position: absolute;
      padding: 15px 18px;
      border-radius: 47px;
      left: 1.25rem;
      top: 5.9375rem;
      background-color: #5D58F0;
      color: white;
      border: none;
    }
    .date-4{
      position: absolute;
      padding: 15px 18px;
      border-radius: 47px;
      left: 1.25rem;
      top: 5.9375rem;
      background-color: #5D58F0;
      color: white;
      border: none;
      
    }
    .date-5{
      position: absolute;
      padding: 15px 18px;
      border-radius: 47px;
      left: 1.25rem;
      top: 5.9375rem;
      background-color: #95B226;
      color: white;
      border: none;
    }
    
    /* footer responsive */
    footer{
      width: 100%;
      height: 800px;
      margin: 0 auto;
      padding:0;
    
    }
    .footer-container{
      flex-direction: column;
      gap: 10px;
      width: 100%;
      padding: 20px;
    }
    .foot-cmn{
      width: 100%;
    }
    .kids-title{
      font-size: 2.9rem;
      font-weight: bold;
    }
    .kids-desc{
      font-size: 1rem;
      font-weight: 400;
      margin-top: 10px;
    }
    
    .about-title{
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
      padding-top: 8px;
    }
    .about-links{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .social-title{
      padding-top: 10px;
      padding-bottom: 20px;
    }
    

}